<html>
<head>
    <title>Student Info</title>
</head>
<body>
    <h1>{{ student.getName }}</h1>
    <img src="/uploads/{{ student.getPhoto }}">

    {% if courses is not empty %}
        <p>Here are the coureses for this student:</p>
        <ul>
            {% for course in courses %}
                <li>Course: {{ course.getName }} Start: {{ course.getStart }}</li>
            {% endfor %}
        </ul>
    {% endif %}


    <h4>Add a Course for this student:</h4>

    <form action='/student/{{ student.getId }}' method='post'>
        <input id="student_id" name="student_id" type="hidden" value="{{ student.getId }}">
        <label for="course_id">Select a course</label>
        <select id='course_id' name='course_id' type='text'>
          {% for course in courses2 %}
            <option value="{{ course.getId }}"> {{ course.getName }} </option>
          {% endfor %}
        </select>
        <button type='submit'>Add Course</button>
    </form>

    <form action="/upload_file/{{ student.getId }}" method="post" enctype="multipart/form-data">
        <input type="file" name="file" />
        <button type="submit" name="btn-upload">upload</button>
    </form>    <p><a href='/'>Home</a></p>
</body>
</html>
